.left {
	text-align: left;
}

.center {
	text-align: center;
}

.floatright {
	float: right;
}

img {
	max-width: 100%;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.container {
	max-width: 1170px;
}

.header {
	background-color: #f4311d;
}

.logo {
	padding-top: 20px;
}

.search {
	padding-top: 20px;
}

.navbar {
	margin: 0;
	padding: 0 5 0 5;;
	min-height: 25px;
}

.navbar-default {
	background-color: #FFF;
	background-image: none;
}

.navbar .navbar-brand {
	padding-top: 0px;
	padding-bottom: 0px;
}

.bulletin {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 5px;
}

.body {
	padding-top: 10px;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}
/* active menu item bottom style begin */
.header .container {
	margin-bottom: 5px;
}

.pull-right {
	float: right !important;
	margin-bottom: -5px;
}

.navbar-nav>li {
	float: left;
	padding-top: 5px;
	padding-right: 5px;
}

.navbar .navbar-nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav-pills>li>a {
	color: #FFF;
	font-weight: bold;
	width: 88px;
	height: 47px;
	text-align: center;
	padding-left: 14px;
	padding-right: 12px;
}

.nav-pills>li>a:hover {
	background: url("../images/active-menu-item.png");
	width: 88px;
	text-align: center;
	color: #0000FF;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus
	{
	background: url("../images/active-menu-item.png");
	width: 88px;
	text-align: center;
	color: #FF0000;
}
/* active menu item bottom style end */
/* carousel style begin */
.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right
	{
	top: 45%;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}

.carousel-indicators {
	bottom: 0px;
	left: 90%;
	margin-left: -10%;
	width: 30%;
}

.carousel-indicators ul,ol {
	margin-bottom: 5px;
}

.carousel-indicators li {
	margin: 4px;
	background-color: #fff;
	border: none;
}

.carousel-indicators .active {
	margin: 3px;
	background-color: #ff6050;
}

/* carousel style end */

/* marquee style begin */
.marquee {
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	background: #fff;
	color: #ff6050;
}

.marquee li {
	height: 25px;
	padding-left: 0px;
}

.marquee ul,li {
	list-style-type: none;
	margin: 0px;
}
/* marquee style end */

/* home article begin */
.body .col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
}

.article-splitter {
	background: url(../images/home-article-splitter.png) no-repeat 0px 30px;
	height: 40px;
	padding: 10px 0px 10px 0px;
	font-size: 14px;
	font-weight: bold;
}

.home-article .panel {
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
	border: 0px solid transparent;
}

.home-article hr {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px dashed #ddd;
	width: 95%;
}

.home-article .panel-body {
	padding: 15px;
	height: 380px;
}

.home-article .list-group {
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
	padding: 5px;
}

.home-article .panel>.list-group .list-group-item {
	border-width: 0px 0;
	padding: 5px 10px 5px 10px;
	height: 35px;
}

.home-article .panel>.list-group .list-group-item a {
	color: #000;
	text-decoration: none;
}

.home-article .panel>.list-group .list-group-item a:hover {
	font-weight: bold;
	color: #000;
	text-decoration: none;
	color: #000;
}

.category .thumbnail {
	border: 0px solid #ddd;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
	border-bottom: 3px solid #ff0000;
	margin-right: 10px;
	height: 430px;
}
/* home article end */
.footer {
	border-top: 1px solid #e5e5e5;
	text-align: center;
	padding: 5px;
}

ul.friendlinks {
	list-style: none;
	padding-left: 0;
	height: 40px;
}

ul.friendlinks li {
	float: left;
	color: grey;
}

ul.friendlinks li a {
	padding-left: 5px;
	padding-right: 5px;
	color: grey;
}
/* article */
.article-title {
	padding-bottom: 5px;
	border-bottom: 3px solid #ff0000;
}

.article-share {
	border-top: 3px solid #ff0000;
	padding: 5px 5px 5px 500px;
	margin-top: 20px;
}

.article-share ul {
	list-style: none;
	padding-left: 0;
	height: 40px;
}

.article-share ul li {
	float: left;
	color: grey;
}

.article-share ul li a {
	padding-left: 5px;
	padding-right: 5px;
}

.article-share ul li span {
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.article-title-comment {
	padding: 5px 10px 20px 10px;
}

/* App Download */
.appDownload .panel-body {
	padding: 0px;
}

.appDownload p {
	text-align: center;
	padding: 15px;
}

.appDownload img {
	width: 130px;
	padding-bottom: 10px;
}

.appDownload hr {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px dashed #ddd;
}

.androidDownload {
	background-image: url(../images/android-download-buttn.gif);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 38px;
	display: block;
}

.iosDownload {
	background-image: url(../images/ios-download-buttn.gif);
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 38px;
	display: block;
}

#btnSearch {
	height: 34px;
}

#inputSearch {
	width: 300px;
}

.weixin {
	padding: 10px;
}