.container {
  max-width: 970px;
}
.header {
	background-color: #f4311d;
}
.logo {
	padding-top: 20px;
}
.search {
	padding-top: 20px;
}
.navbar {
	margin: 0;
	padding: 0 5 0 5;;
	min-height: 25px;
}
.navbar-default {
    background-color: #FFF;
    background-image: none;
}
.navbar .navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}
.marquee {
  overflow: hidden;
  background: #fff;
  color: #ff6050;
}
.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}
/* active menu item bottom style begin */
.header .container {
	margin-bottom: 5px;
}
.pull-right {
float: right!important;
margin-bottom: -5px;
}
.navbar .navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 0px;
}
.nav-pills>li>a {
	color: #FFF;
	font-weight: bold;
	width: 88px;
	height: 47px;
	text-align: center;
	padding-left: 17px;
}
.nav-pills>li>a:hover {
    background: url("../images/active-menu-item.png");
    width: 88px;
    text-align: center;
    color: #0000FF;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: url("../images/active-menu-item.png");
	width: 88px;
    text-align: center;
    color: #FF0000;
}
/* active menu item bottom style end */
/* carousel style begin */
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	top: 45%;
}
.carousel-caption {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	right: 0;
    left: 0;
    bottom: 0;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}
.carousel-indicators {
	bottom: 0px;
	left: 90%;
	margin-left: -10%;
	width: 30%;
}
.carousel-indicators ul, ol {
	margin-bottom: 5px;
}
.carousel-indicators li {
	margin: 4px;
	background-color: #fff;
	border: none;
}
.carousel-indicators .active {
    margin: 3px;
    background-color: #ff6050;
}

/* carousel style end */

.footer {
	border-top: 1px solid #e5e5e5;
	text-align: center;
	padding: 5px;
}
.footer .friendlinks {
	text-align: left;
}