.container {
  max-width: 970px;
}
.header {
	background-color: red;
}
.navbar {
	margin: 0;
	padding: 5px;
	min-height: 25px;
}
.navbar .navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar .navbar-nav>li>a {
  padding-top: 0px;
  padding-bottom: 0px;
}
.footer {
	border-top: 1px solid #e5e5e5;
	text-align: center;
	padding: 5px;
}