<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunding.lago.dao.VisitLogMapper" >
  <resultMap id="BaseResultMap" type="com.yunding.lago.bean.VisitLog" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Url" property="url" jdbcType="VARCHAR" />
    <result column="UserLoginId" property="userloginid" jdbcType="VARCHAR" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="SessionId" property="sessionid" jdbcType="VARCHAR" />
    <result column="CreatedOn" property="createdon" jdbcType="TIMESTAMP" />
    <result column="RecordStatus" property="recordstatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Url, UserLoginId, IP, SessionId, CreatedOn, RecordStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from VisitLog
    where Id = #{id,jdbcType=INTEGER} and RecordStatus = 0
  </select>
  <select id="selectCount" resultType="int" >
    select count(Id)
    from VisitLog
    where RecordStatus = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from VisitLog
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yunding.lago.bean.VisitLog" >
    insert into VisitLog (Url, UserLoginId, 
      IP, SessionId, CreatedOn, 
      RecordStatus)
    values (#{url,jdbcType=VARCHAR}, #{userloginid,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{sessionid,jdbcType=VARCHAR}, #{createdon,jdbcType=TIMESTAMP}, 
      #{recordstatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yunding.lago.bean.VisitLog" >
    insert into VisitLog
    <trim prefix="(" suffix=")" suffixOverrides="," >
       <if test="url != null" >
        Url,
      </if>
      <if test="userloginid != null" >
        UserLoginId,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="sessionid != null" >
        SessionId,
      </if>
      <if test="createdon != null" >
        CreatedOn,
      </if>
      <if test="recordstatus != null" >
        RecordStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="userloginid != null" >
        #{userloginid,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="sessionid != null" >
        #{sessionid,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null" >
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="recordstatus != null" >
        #{recordstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunding.lago.bean.VisitLog" >
    update VisitLog
    <set >
      <if test="url != null" >
        Url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="userloginid != null" >
        UserLoginId = #{userloginid,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="sessionid != null" >
        SessionId = #{sessionid,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null" >
        CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="recordstatus != null" >
        RecordStatus = #{recordstatus,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunding.lago.bean.VisitLog" >
    update VisitLog
    set Url = #{url,jdbcType=VARCHAR},
      UserLoginId = #{userloginid,jdbcType=VARCHAR},
      IP = #{ip,jdbcType=VARCHAR},
      SessionId = #{sessionid,jdbcType=VARCHAR},
      CreatedOn = #{createdon,jdbcType=TIMESTAMP},
      RecordStatus = #{recordstatus,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>